div#line-number {
    display: inline-block;
    width: 50px;
    text-align: center;
    background-color: #555;
}

div#line-content {
    width: 100vh;
    outline: 0px solid transparent;
    background-color: #777;
    display: inline-block;
    color: transparent;
    caret-color: white;
}

#canary-editor {
    color: white;
    font-size: 11px;
    font-family: "SF Mono",Monaco,Menlo,Courier,monospace;
}

.highlight-comment {
    color: darkolivegreen;
}